@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.calcRow {
  width: 138px;
}

.result {
  background-color: silver;
  height: 16px;
  border-width: 2px;
  border-style: solid;
}

.calcButton {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  width: 20px;
  text-align: center;
}

.calcButton.inputButton {
  background-color: gray;
}

.calcButton.opButton {
  background-color: teal;
}